.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
}

.dialog h2 {
    margin-top: 0;
}

.dialog button {
    margin-top: 20px;
}

.nodisc {
    list-style-type: none;
}