.text {
    color: red;
}

.navigation {
    display: flex;
    gap: 10px;
    color: white;
    background-color: darkslategray;
    padding-left: 10px;
}

.linktext {
    color: white;
}

.mainpart {
    height: 80vh;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 16px 0;
}

.card h1 {
    margin-top: 0;
}

.card p {
    margin: 8px 0;
}

.card a {
    color: #007bff;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

.flexcards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.details {
    text-align: center;
}

.detailstext {
    margin: 0 auto;
    width: 50%;
}

.accordion-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 8px 0;
    overflow: hidden;
}

.accordion-header {
    background-color: #f7f7f7;
    padding: 16px;
    cursor: pointer;
}

.accordion-content {
    padding: 16px;
    background-color: #fff;
}

.cursor {
    cursor: pointer;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
}

.dialog h2 {
    margin-top: 0;
}

.dialog button {
    margin-top: 20px;
}

.nodisc {
    list-style-type: none;
}